@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Quicksand:wght@300;500;600&display=swap');


*{
    color: rgb(255, 255, 255);
    font-family:'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom right, #5d1072, #095b66);
    
}

.titulo{
    display: flex;
    background-color: #31173b;
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.footer{
    display: flex;
    background-color: #31173b;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

.footer2{
    display: flex;
    background-color: #31173b;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;

}

#autor{
    flex-direction: row-reverse;
}

.conexaoOn{
    color: rgb(255, 255, 255);
    background-color: rgb(48, 95, 48);
    width: 100%;
    position: fixed;
    padding-left: 8px;
}

.conexaoOff{
    color: rgb(255, 255, 255);
    background-color: rgb(151, 25, 25);
    width: 100%;
    position: fixed;
    padding-left: 8px;
}

.container1{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;
    position: relative;
    width: 40%;
    margin-left: 30%;
}

.container11{
    height: 85%;
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;
    position: relative;
    width: 40%;
    margin-left: 30%;
}

.container2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    
}

.inp{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    
}



#logar, #cadastrar, #salvar, #cancelar{
    background-color: #451d55;
    border-radius: 30px;
    border: none;
    width: 150px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    transition: background-color 0.3s ease-out 100ms;
    transition: font-size 0.2s ease-out 100ms;
}

#logar{
    margin-right: 10px;
}

#logar:hover{
    background-color: #0b71b4;
    font-size: 22px;
    cursor:pointer;
    box-shadow: 1px 10px 19px 2px rgba(0,0,0,0.36);

}

#cadastrar:hover{
    background-color: #6805c5;
    font-size: 22px;
    cursor:pointer;
    box-shadow: 1px 10px 19px 2px rgba(0,0,0,0.36);

}

#salvar:hover{
    background-color: #06c5c5;
    font-size: 22px;
    cursor:pointer;
    box-shadow: 1px 10px 19px 2px rgba(0,0,0,0.36);

}

#cancelar:hover{
    background-color: #c5057b;
    font-size: 22px;
    cursor:pointer;
    box-shadow: 1px 10px 19px 2px rgba(0,0,0,0.36);
}

#login, #senha, #meunome, #email, #cpf, #endereco, #numero, #cidade, #celular, #CEP, #datanasc{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    color: black;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 1px 10px 19px 2px rgba(0,0,0,0.36);
}

.tabela{
    border: 2px solid black;
    border-radius: 10px;
    border-style:none;
    background-color: #393053;
    padding-bottom: 10px;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 50px;
    box-shadow: 1px -5px 19px 2px #18122b8a;
}




td{
    border: none;
    margin: 0;
    background-color: #576bbc00;
    padding-left: 5px;
    padding-bottom: 4px;
    font-size: 18px;
    height: 22px;
    border-bottom: 1px solid #635985;
    transition: font-size 0.2s ease-out 100ms;
    font-family: 'Nunito', sans-serif;
}
td:hover{
    font-size: 19px;
}


tr{
    border-bottom: 1px solid #393053;
}

tr:hover td{
    background-color: #41385c;
}



th{
    border-bottom: 1px solid #393053;
    padding-top: 4px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;

}

#thCheckbox{
    width: auto;
    padding-right: 22px;
    align-items: center;
}

#thId{
    width: auto;
    padding-right: 60px;
}

#thTexto{
    width: auto;
    padding-right: 180px;
}

#thData{
    width: auto;
    padding-right: 90px;
}

